@media (min-width:350px)and (max-width: 1060px) {
    
 
    .proyectos{
        width: 100%;
        display: inline-block;
        position: relative;
        top: -200px;
        
    }
    .min {
        width: 100%;
       position: relative;
       right: 10%;
       height: 40%;
    }
    .min .h2 {
    
        text-align: center;
        position: relative;
        bottom: 200px;
        right: 20%;
        
    }
    .aos-init1{
        width: 100%;
        height: 70%;
    }
    .cproyecto{
        width: 200px;
        left: 20%;
        bottom: 150px;
      
    }
    .container {
      width: 100%;
      height: 100%;
      font-size: 15px;
    
    }

    .habilidades{
        position: relative;
        top: 10%;

    }
    .aos-init {
        width: 100%;
        height: 80%;
        font-size: 20px;
     
   
    }
    .aos-init .hability-item{
       position: relative;
       left: 200px;
       top: 30px;

    }
   .habilidades   h3{
        position: relative;
        left:20%;
    }
    .history{
        position: relative;
        bottom: 0%;
        width: 70%;
        font-size: 20px;
        text-align: center;
        justify-content: center;
        align-items: center;
        position: relative;
        left: 25%;
        top: 10%;
    }
    .certificado{
       
        position: relative;
        top: 30px;
    }
     .certificado .educacion {
      display: inline-table;
      width: 100%;
      position: relative;
      font-size: 20px;
    top: 15%;
   
    }
    .certificado h2 {
        font-size: 40px;
    }
    .certificado .educacion .curso {
        width: 100%;
        position: relative;
        right: 30%;
        margin-bottom: 40px;
        text-align: center;
    }
    .certificado .educacion .curso img {
        width: 700px;
        height: 300px;
     

    }
    .certificado .educacion .curso p {
        width: 70%;
   
        position: relative;
        left: 12%;
       
    }
}


/*400px  minimmo*/
@media screen and (max-width: 350px) {
   .main{
    width: 100%;
   position: relative;
   bottom: 50%;
   
   } 
.Cproyectos{
    position: relative;
    bottom: 100px;
    right: 30px;
}
.proyectos{
    width: 100%;
    display: inline-block;
    position: relative;
    top: -200px;
    left: 80px;
}
.min .h2 {

    text-align: center;
    position: relative;
    bottom: 200px;
    left: 20px;
}
.proyecto{
    width: 200px;
  
}
    .main img {
    width: 0px;
    height: 0px;
position: relative;
right: 20%;

    }
    .container {
      width: 100%;
      height: 100%;
      font-size: 15px;
    }

    .habilidades{
        position: relative;
        top: -20%;
    }
    .aos-init {
        width: 300px;
        height: 200px;
    }
    .aos-init .hability-item{
       position: relative;
       left: 80px;

    }
    .history{
        font-size: 20px;
        position: relative;
        bottom: 20%;
        width: 70%;
        text-align: center;
        justify-content: center;
        align-items: center;
        position: relative;
        left: 15%;
    }
    .certificado{
       
        position: relative;
        bottom: 35%;
    }
     .certificado .educacion {
      display: inline-table;
      width: 100%;
      position: relative;
    right: 20px;
   
    }
    .certificado .educacion .curso {
        width: 100%;
        position: relative;
        right: 28%;
        font-size: 15px;
        margin-bottom: 80px;
        text-align: center;
    }
    .certificado .educacion .curso img {
        width: 300px;
        height: 300px;
        position: relative;
        right: 20px;
     

    }
    .certificado .educacion .curso p {
        width: 90%;
        position: relative;
        
    }
    .certificado .educacion .curso h3{
        position: relative;
        right: 20px;
    }
}


/*maximo 2000px*/
@media (min-width:900px)and (max-width: 2000px)  {
 
.min{
    position: relative;
    bottom: 200%;
}
   
    .habilidades{
    display: flex;
    position: relative;
    bottom: 40%;
   }
    .habilidades .aos-init {
    width: 40%;
    height: 400px;
    font-size: 30px;
    
    }
    .habilidades .hability-item{
        position: relative;
        top: 100px;
    }
    .aos-init h3 {
        position: relative;
        top: 40px;
    }
    .history {
        font-size: 25px;
    }
}
